{% load static %}
<div class="menu-area">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-sm-2">
						<div class="logo-area">
							<a href="index.html"><img src="{%  static 'web/img/home-1/logo.png' %}" alt="" /></a>
						</div>
					</div>
					<div class="col-md-8 col-sm-8">
						<div class="main-menu">
							<ul class="list-inline">
							  <li class="expand active"><a href="{% url 'home' %}">HOME</a>
								<ul class="single sub-menu">
									<li class="sub-menu-title"><a href="index.html">Home Pages</a></li>
									<li><a href="index.html">Home Version One</a></li>
									<li><a href="index-2.html">Home Version Two</a></li>
								</ul>
							  </li>
							  <li><a href="#">WOMEN</a>
								<!-- Mega Menu Four Column -->
								<div class="mega-menu">
									<span>
										<a href="#" class="mega-title">Categories 01</a>
										<a href="shop.html">Washing machine 1</a>
										<a href="shop.html">Washing machine 2</a>
										<a href="shop.html">Washing machine 3</a>
										<a href="shop.html">Washing machine 4</a>
									</span>
									<span>
										<a href="#" class="mega-title">Categories 02</a>
										<a href="shop.html">Washing machine 1</a>
										<a href="shop.html">Washing machine 2</a>
										<a href="shop.html">Washing machine 3</a>
										<a href="shop.html">Washing machine 4</a>
									</span>
									<span>
										<a href="#" class="mega-title">Categories 03</a>
										<a href="shop.html">Washing machine 1</a>
										<a href="shop.html">Washing machine 2</a>
										<a href="shop.html">Washing machine 3</a>
										<a href="shop.html">Washing machine 4</a>
									</span>
									<span class="mega-menu-img">
										<a href="#"><img alt="" src="img/other-pg/img_menu.jpg"></a>
									</span>
								</div>
							  </li>
							  <li><a href="#">MEN</a>
								<div class="mega-menu two-column">
									<span>
										<a href="#" class="mega-title">Categories 01</a>
										<a href="shop.html">Washing machine 1</a>
										<a href="shop.html">Washing machine 2</a>
										<a href="shop.html">Washing machine 3</a>
										<a href="shop.html">Washing machine 4</a>
									</span>
									<span>
										<a href="#" class="mega-title">Categories 02</a>
										<a href="shop.html">Washing machine 1</a>
										<a href="shop.html">Washing machine 2</a>
										<a href="shop.html">Washing machine 3</a>
										<a href="shop.html">Washing machine 4</a>
									</span>
								</div>
							  </li>
							  <li><a href="about-us.html">ABOUT</a></li>
							  <li class="expand"><a href="#">PAGES</a>
								<ul class="single sub-menu">
									<li><a href="about-us.html">About</a></li>
									<li><a href="shop.html">Shop</a></li>
									<li><a href="{% url 'shopping-cart' %}">Shop Cart</a></li>
									<li><a href="shop-list.html">Shop List</a></li>
									<li><a href="single-product.html">Single Product</a></li>
									<li><a href="wishlist.html">Wishlist</a></li>
									<li><a href="checkout.html">Checkout</a></li>
									<li><a href="account.html">Account</a></li>
									<li><a href="login.html">Log In</a></li>
									<li><a href="contact-us.html">Contact Us</a></li>
									<li><a href="404.html">404 Error</a></li>
								</ul>
							  </li>
							  <li><a href="contact-us.html">CONTACT</a></li>
							</ul>
						</div>
					</div>
					<!-- MOBILE-MENU-AREA START -->
					<div class="mobile-menu-area">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
								<div class="mobile-area">
									<div class="mobile-menu">
										<nav id="mobile-nav">
											<ul>
												<li><a href="index.html">Home </a>
													<ul>
														<li><a href="index.html">Home version one</a></li>
														<li><a href="index-2.html">Home Version two</a></li>
													</ul>
												</li>
												<li><a href="shop.html"> Shop </a></li>
												<li><a href="about-us.html"> About Us </a></li>
												<li><a href="#"> Pages </a>
													<ul>
														<li><a href="about-us.html">About Us</a></li>
														<li><a href="shop.html">Shop</a></li>
														<li><a href="shop-list.html">Shop List</a></li>
														<li><a href="shoping-cart.html">Shop Cart</a></li>
														<li><a href="single-product.html">Single Product</a></li>
														<li><a href="checkout.html">Checkout</a></li>
														<li><a href="account.html">My Account</a></li>
														<li><a href="login.html">Login</a></li>
														<li><a href="wishlist.html">Wishlist</a></li>
														<li><a href="contact-us.html">Contact</a></li>
														<li><a href="404.html">404 Error</a></li>
													</ul>
												</li>
												<li><a href="#"> Returns </a></li>
												<li><a href="#"> Orders </a></li>
												<li><a href="contact-us.html"> Contact Us </a></li>
											</ul>
										</nav>
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- MOBILE-MENU-AREA END  -->
					<div class="col-md-2 col-sm-2">
						<div class="menu-right-area">
							<ul>
								<li>
									<a href="#" class="cart-toggler search-icon">
										<i class="fa fa-search"></i>
									</a>
									<div class="header-bottom-search">
										<form method="POST" action="#" class="search-box">
											<div>
												<input type="text" autocomplete="off" placeholder="Search" value="">
											</div>
										</form>
									</div>
								</li>
								<li>
									<a href="{% url 'shopping-cart' %}" class="cart-toggler mini-cart-icon">
										<i class="fa fa-shopping-cart"></i>
										<span>2</span>
									</a>
									<div class="top-cart-content">
										<div class="media header-middle-checkout">
											<div class="media-left check-img">
												<a href="#">
													<img alt="" src="{%  static 'web/img/other-pg/cart-1.jpg' %}">
												</a>
											</div>
											<div class="media-body checkout-content">
												<h4 class="media-heading">
													<a href="#">Men Pumping Show</a>
													<span title="Remove This Item" class="btn-remove checkout-remove">
														<i class="fa fa-trash"></i>
													</span>
												</h4>
												<p>1 x $111.00</p>
											</div>
										</div>
										<div class="media header-middle-checkout last-child"><!-- Cart Middle Check Out -->
											<div class="media-left check-img">
												<a href="#">
													<img alt="" src="{%  static 'web/img/other-pg/cart-2.jpg'%}">
												</a>
											</div>
											<div class="media-body checkout-content">
												<h4 class="media-heading">
													<a href="#">Women Pump Show</a>
													<span title="Remove This Item" class="btn-remove checkout-remove">
														<i class="fa fa-trash"></i>
													</span>
												</h4>
												<p>1 x $111.00</p>
											</div>
										</div>
										<div class="actions">
											<button type="button" title="Checkout-botton" class="Checkout-botton">
												<span>Checkout</span>
											</button>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>