{% extends 'homebase.html' %}
{% block content %}
    {% load static %}
  <div class="product-simple-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="single-product-image">
							<div class="single-product-tab">
							  <!-- Nav tabs -->
							  <ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><img alt="" src="{% static 'web/img/single-product/gallery-1.jpg' %}"></a></li>
								<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><img alt="" src="{% static 'web/img/single-product/gallery-2.jpg' %}"></a></li>
								<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><img alt="" src="{% static 'web/img/single-product/gallery-3.jpg'%}"></a></li>
								<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><img alt="" src="{% static 'web/img/single-product/gallery-4.jpg' %}"></a></li>
							  </ul>

							  <!-- Tab panes -->
							  <div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="home"><img alt="" src="{% static 'web/img/single-product/gallery-1.jpg' %}"></div>
								<div role="tabpanel" class="tab-pane" id="profile"><img alt="" src="{% static 'web/img/single-product/gallery-2.jpg'%}"></div>
								<div role="tabpanel" class="tab-pane" id="messages"><img alt="" src="{% static 'web/img/single-product/gallery-3.jpg'%}"></div>
								<div role="tabpanel" class="tab-pane" id="settings"><img alt="" src="{% static 'web/img/single-product/gallery-4.jpg'%}"></div>
							  </div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="single-product-info">
							<div class="product-nav">
								<a href="#"><i class="fa fa-angle-right"></i></a>
							</div>
							<h1 class="product_title">{{ item.product.name }}</h1>
							<div class="price-box">
								<span class="new-price">{{ item.product.price }}</span>
							</div>
							<div class="pro-rating">
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
							</div>
							<div class="short-description">
                                {% if item.product.type %}
                                    <p>product</p>
                                {% endif %}
							</div>
							<div class="stock-status">
								<label>Availability</label>: <strong>In stock</strong>
							</div>
							<form action="{% url 'add-to-cart' item.id %}" method="POST" >
								{%   csrf_token %}
                                <div class="quantity">
									<input type="number" name="quantity" value="1" min="1" />
									<button type="submit">Add to cart</button>
								</div>
							</form>
							<div class="add-to-wishlist">
								<a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-star"></i></a>
								<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
							</div>
							<div class="share_buttons">
								<a href="#"><img src="img/share-img.png" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="product-simple-area">
        <div class="container">
                    <div class="row" style="display: flex">
                        <div style="margin:auto">
                            <form action="{% url 'product-details' item.id %}" method="post" style="display: flex;flex-direction: column; margin-bottom: 20px">
                                {% csrf_token %}
                                <label style="justify-content: center">Comment</label>
                                <textarea name="content" id="" cols="50" rows="5"></textarea>
                                <input type="submit" value="Comment" class="btn btn-danger" style="margin-top: 20px">
                            </form>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 50px">
                        {% for cm in comments  %}
                            <div class="media" style="height: 50px;display: flex">
                            <div style="width: 500px"><img style="width: 600px" class="media-object" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></div>
                                <div class="media-body" style="margin-left: 20px">
                            <h4 class="media-heading">{{ cm.customer.username }}</h4>
                                    <p>{{ cm.content }}</p>
                            <ul class="list-unstyled list-inline media-detail pull-left">
                                <li><i class="fa fa-calendar"></i></li>
                            </ul>
                                </div>
                            </div>
                        {% endfor %}



                </div>
                    <br>
                    </div>
        </div>
    </div>

{% endblock %}