<!DOCTYPE html>
<html>
    <head>
        <title>Staffs</title>
    </head>
    <body>
        <form method="post" action="{% url 'search_products_by_name' %}">
            {% csrf_token %}
            <input type="search" placeholder="Search" name='product_search' aria-label="Search">
            <button type="submit">Search</button>
        </form>
        <ul>
            {% for product in products %}
                <a> {{ product.name }}</a>
                <a href="{%  url 'delete_product' product.id %}" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
            {% endfor %}
        </ul>
    </body>
</html>